:root {
    /* VARIABLES COLORES PRIMARIOS*/
    --color-blue: hsl(246, 80%, 60%);
    --color-ligth-red-work: hsl(15, 100%, 70%);
    --color-soft-blue: hsl(195, 74%, 62%);
    --color-ligth-red-study: hsl(348, 100%, 68%);
    --color-lime-green: hsl(145, 58%, 55%);
    --color-violet: hsl(264, 64%, 52%);
    --color-soft-orange: hsl(43, 84%, 65%);
    /* NEUTRAL */
    --color-Very-dark-blue: hsl(226, 43%, 10%);
    --color-Dark-blue: hsl(235, 46%, 20%);
    --color-Desaturated-blue: hsl(235, 45%, 61%);
    --color-Pale-Blue: hsl(236, 100%, 87%);
}