@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Rubik:wght@300;400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: grid;
    place-items: center;
    font-family: 'Rubik', sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.card-id {
    background-color: var(--color-Dark-blue);
    margin-top: 30px;
    width: 80%;
    border-radius: 10px;
    font-weight: 300;
}

.calendary {
    display: flex;
    justify-content: space-evenly;
}

.calendary a {
    display: block;
    color: var(--color-Desaturated-blue);
    padding: 15px 0;
}

.calendary a:hover {
    color: #fff;
}

.perfil {
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 0;
}

.perfil .img-perfil {
    border-radius: 50%;
    width: 15%;
    margin-right: 15px;
}

.perfil p {
    color: #fff;
    margin-bottom: 26px;
}

.perfil p span {
    font-size: 10px;
    color: var(--color-Pale-Blue);
}


/* ESTILOS DE LAS CARDS */

.margin-top {
    margin-top: 20px;
}

.work {
    background-image: url("../images/icon-work.svg");
    background-color: var(--color-ligth-red-work);
}

.card {
    width: 80%;
    border-radius: 10px;
    height: 150px;
    position: relative;
}

.category {
    position: absolute;
    bottom: 0px;
    padding: 0 15px;
    width: 90%;
    border-radius: 10px;
    background-color: var(--color-Dark-blue);
    height: 115px;
}

.category {
    font-weight: 300;
    color: #fff;
}

.option,
.week {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
    align-items: flex-end;
}

.category .week {
    font-size: 13px;
    color: var( --color-Pale-Blue);
    align-self: flex-end;
}

.week span {
    font-size: 25px;
    color: #fff;
}