@import url(colors.css);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&family=Rubik:wght@300;400;500&display=swap');
body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    background-color: var(--color-Very-dark-blue);
    font-family: 'Rubik', sans-serif;
}

#grid-container {
    display: grid;
    place-items: center;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.card-id {
    background-color: var(--color-Dark-blue);
    margin-top: 30px;
    width: 80%;
    border-radius: 10px;
    font-weight: 300;
}

.calendary {
    display: flex;
    justify-content: space-evenly;
}

.calendary a {
    display: block;
    color: var(--color-Desaturated-blue);
    padding: 15px 0;
}

.calendary a:hover {
    color: #fff;
}

.perfil {
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 0;
}

.perfil .img-perfil {
    border-radius: 50%;
    width: 15%;
    margin-right: 15px;
}

.perfil p {
    color: #fff;
    margin-bottom: 26px;
}

.perfil p span {
    font-size: 10px;
    color: var(--color-Pale-Blue);
}


/* ESTILOS DE LAS CARDS */

.margin-top {
    margin-top: 20px;
}

.work {
    background-image: url("../images/icon-work.svg");
    background-color: var(--color-ligth-red-work);
}

.card {
    width: 80%;
    border-radius: 10px;
    height: 150px;
    position: relative;
}

.category {
    position: absolute;
    bottom: 0;
    top: 40px;
    right: 0;
    left: 0;
    padding: 0 15px;
    border-radius: 10px;
    background-color: var(--color-Dark-blue);
}

.category {
    font-weight: 300;
    color: #fff;
}

.option,
.week {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.option {
    align-items: flex-end;
}

.category .week {
    font-size: 13px;
    color: var( --color-Pale-Blue);
    align-self: flex-end;
}

.week span {
    font-size: 25px;
    color: #fff;
}


/* card-play*/

.Play {
    background-image: url("../images/icon-play.svg");
    background-color: var(--color-soft-blue);
}


/* card-study */

.Study {
    background-image: url("../images/icon-study.svg");
    background-color: var(--color-ligth-red-study);
    background-position: center;
}


/* exercise-card */

.exercise {
    background-image: url(../images/icon-exercise.svg);
    background-color: var(--color-lime-green);
}


/* Social-card */

.Social {
    background-image: url(../images/icon-social.svg);
    background-color: var(--color-violet);
}


/* Self care*/

.self-care {
    background-image: url(../images/icon-self-care.svg);
    background-color: var(--color-soft-orange);
}


/* VISTA DESKTOP*/

@media only screen and (min-width:991px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    #grid-container {
        display: grid;
        max-width: 1024px;
        place-items: center;
        grid-template-columns: 2fr 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr;
    }
    .card-id {
        grid-row: 1 / 3;
    }
    .attribution {
        position: absolute;
        bottom: 0;
    }
}